:root {
    /* Letra */
    --letra-fuente: "Sora", sans-serif;

    /* Colores */
    --blanco: #ffffff;
    --gris: #606A60;
    --negro: #000000;
    --verde-principal: #00B532;
    --sombra: #333333;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100% );
}

/* Esto es por placer mío, que es simplemente quitar la scrollbar - si la queréis devolver, por mi vale: solamente hay que borrarlo */
::-webkit-scrollbar {display: none;}

* {
    font-family: var(--letra-fuente);
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    color: var(--blanco);
    text-shadow: var(--sombra) 0 5px 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    font-size: 5rem;
    font-weight: 600;
    color: var(--verde-principal);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--blanco);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
  }
  
  /* Estilo para los enlaces visitados */
  a:visited {
    color: inherit; /* Hereda el color del enlace no visitado */
  }

img {
    margin: 0;
    padding: 0;
    max-width: 100%;
}


/* Lineas de separación */
.contenedor-principal hr {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.pie-pagina hr {
 width: 80%;
}

/* Botones */

.boton {
    border: none;
    width: 24rem;
    height: 5.7rem;
    border-radius: .6rem;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--blanco);
}

.boton-verde {
    background-color: var(--verde-principal);
}

.boton-gris {
    background-color: var(--gris);
}

/* Overlay */
.overlay {
    position: relative;
    width: 100%;
}

.imagen-overlay {
    display: block;
    width: 100%;
    height: auto;
}

.texto-overlay {
    display: grid;
    align-items: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}


/* Header */
/* nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}

nav .menu {
    display: flex;
    justify-content: space-around;
    gap: 20rem;
    font-size: 2rem;
    font-weight: 650;
}

.logo p {
    font-size: 2.5rem;
    font-weight: 800;
}

/* Main */
.contenedor-principal {
     /* esto tal vez haya que cambiarlo */
     margin-bottom: 30rem;
     width: 100%;
}
.contenedor-principal .boton{
    margin-left: auto;
    margin-right: auto;
}

.contenedor-pueblos {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.pueblo {
    margin: 0;
    padding: 0;
}

.pueblo img {
    border-radius: 1rem;
    filter: brightness(.7);
}

section {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-bottom: 3.5rem;
}

/* footer */
.contenido-footer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto-footer {
    display: flex;
    gap: 2rem;
}

/* Estilos para alinear a la izquierda */
.back-arrow {
    display: inline-block;
    text-align: left;
  }


/* Estilos para el enlace */
.back-arrow a {
    font-size: 3rem; /* Tamaño de la fuente */
    text-decoration: none; /* Quita el subrayado */
    color: black; /* Color del texto */
  }