@font-face {
    font-family: 'Sora';
    src: url('../font/Sora-VariableFont_wght.ttf') format('embedded-opentype'), /* Internet Explorer */
    url('../font/Sora-VariableFont_wght.ttf') format('woff2'),             /* Super Modern Browsers */
    url('../font/Sora-VariableFont_wght.ttf') format('woff'),              /* Pretty Modern Browsers */
    url('../font/Sora-VariableFont_wght.ttf') format('truetype'),          /* Safari, Android, iOS */
    url('../font/Sora-VariableFont_wght.ttf') format('svg');  
    font-weight: 1 1000;
}

:root {
    /* Tamaños de pantalla */
    --tablet: 768px;
    --desktop: 1024px;

    /* Letra */
    --letra-fuente: "Sora", sans-serif;
    --fuente-bold: 700;
    --fuente-semi-bold: 600;

    /* Colores */
    --blanco: #ffffff;
    --gris-desplegable: #ededed;
    --gris-claro: #e2e1e5;
    --gris: #606A60;
    --gris-hover: #4f5a4f;
    --negro: #000000;
    --verde-principal: #00B532;
    --verde-hover: #01a12e;
    --sombra: rgba(33, 33, 33);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100% );
}

::-webkit-scrollbar {display: none;}

* {
    font-family: var(--letra-fuente);
}

/* Titulo de index.html */
h1 {
    font-weight: var(--fuente-bold);
}

/* Titulos de apartado (los verdes) */
h2 {
    font-size: 5rem;
    font-weight: var(--fuente-semi-bold);
    color: var(--verde-principal);
    text-align: center;
}

/* Titulos dentro de la pantalla de explicación del museo */
h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--negro);
    text-align: left;
}

/*Titulos de las cards de museos*/
h4 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}

/* Titulos de datos del museo */
h5 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--negro);
    margin-bottom: 1rem;
}

/* Anchors */
a {
    color: black;
    text-decoration: none;
  }

a:active{
    background-color: inherit;
}
/* --- */
  
img {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-bottom: 3.5rem;
}

.ml-4{
    margin-left: 2rem !important;
}

/* -------- Botones -------- */

/* Diseño del boton */
.boton {
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24rem;
    height: 5.7rem;
    border-radius: .6rem;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--blanco);
    transition: all .1s ease;

    &:hover{
        color:var(--blanco);
        transform: scale(1.05);
    }
}

/* Colores de los botones */
.boton-verde {
    background-color: var(--verde-principal);

    &:hover {
        background-color: var(--verde-hover);
    }
}

.boton-gris {
    background-color: var(--gris);

    &:hover {
        background-color: var(--gris-hover);
    }
}

/* Botones especificos */
.boton-vermas-index {
    margin: 0 auto;
}

.boton-form {
    text-transform: none;
    width: 22rem;
    height: 4.8rem;
}

.no-style-button {
    background: none;
    border: none;
    padding: 0;
}

.boton-slider-exposiciones {
    height: max-content;
    margin-bottom: 6rem;
}

.boton-atras {
    display: flex;
    width: max-content;
    align-items: center;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 500;
    gap:1rem;
}
/* --------------------------- */

/* --------- Overlay --------- */
.overlay {
    position: relative;
    width: 100%;
}

.imagen-overlay {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: var(--fuente-semi-bold);
    color: var(--blanco);
    font-size: 2.5rem;
    font-weight: 700 !important;
}

/* Header */

.ubi-header {
    max-width: 100%;
    height: 50rem;
    border:0;
}


/* Sirve para eliminar borde azul al hacer click en el mapa */ 
.gm-style iframe + div { 
    border:none!important; 
}   

/* nav */

nav {
    padding: 1rem 3rem;

    /* El primer hijo div de nav */
    & div:first-child {
        display: flex; 
        position: relative; 
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center; 
        z-index: 10;
    }
}

.menu_icon {
    display: none;
}

.nav-links-header {
    display: flex;
    justify-content: space-around;
    gap: 20rem;
    font-size: 2rem;
    font-weight: 650;
    transition: all 500ms ease-in-out;
    transition-delay: 100ms;

    &.nav-links-header-mobile {
        transform: translate(0, 70px);
        opacity: 1;
        z-index: 1;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.header-image {
    aspect-ratio: 64/24;
}

/* --- nav ---  */

/* Texto dentro de la imagen principal */
.texto-main-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-shadow: var(--sombra) 0 .5rem 1rem;
}

.texto-main-img p {
    font-size: 2.5rem;
    font-weight: 700 !important;
}
/* --- --- */

/* ------------- Main ----------------- */

.contenedor-principal {
    /* esto tal vez haya que cambiarlo */
    margin-bottom: 20rem;
    width: 100%;
}

.contenedor-principal hr {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/* -- Diferentes apartados -- */
.index {
    max-width: 91rem;
    margin: auto;

    & section {
        margin: auto 3rem;
    }
}

.lista-museos {
    max-width: 115rem;
    margin: auto;
}

.info-museo {
    max-width: 100rem;
    margin: auto;
}

.usuario {
    max-width: 100rem;
    margin: auto;
}

.ruta {
    max-width: 750px;
    margin: auto;
    margin-bottom: 20rem;
}
/* -- Diferentes apartados -- */


/* -- Filtros -- */

.contenedor-filtros {
    background-color: var(--gris-desplegable);
    border-radius: 10px;
    padding: 2rem 2.5rem;
}

.boton-filtros {
    display: flex;
    padding: 0;
    background-color: inherit;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
    font-weight: 700;
    font-size: 1.75rem;

    & img {
        width: 25px;
    
    }
}

.elemento-filtro-museo {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 330px;

    & input {
        border: 0;
        padding: 1rem;
        border-radius: 5px;
    }

    & select {
        border: 0;
        padding: .8rem;
        border-radius: 5px;
        appearance: none;
        background-image: url('../img/svg/flecha-menu-down.svg');
        background-repeat: no-repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: 1em auto, 100%;
    }
}    

.select:focus {
    background-image: url('../img/svg/flecha-menu-up.svg');
}

.contenedor-filtros button {
    border:0;
}

.contenedor-range {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;

    & input {
        width:60%
    }

    & p {
        margin:0;
    }
}

.opciones-check {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    & label {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
    }
}

.form-filtro-museos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 3fr);
    gap:2rem;
}
/* -- Filtros -- */

/* -- ¿Dónde visitar? -- */
.contenedor-pueblos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5rem;
}

.pueblo {
    margin: 0;
    padding: 0;
    width:100%;
    aspect-ratio: 269/166;
    transition: transform .25s ease-in-out;

    &:hover {
        transform: scale(1.07);
    }

    & img {
        border-radius: 1rem;
        height: 100%;
        filter: brightness(.7);
    
    }
}
/* -- ¿Dónde visitar? -- */

/* -- Lista de museos -- */
.contenedor-museos {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem auto;
    gap: 5rem;
}

.museo {
    background-color: #fff;
    padding: 20px;
    max-width: 350px;
    box-shadow: 0px 4px 20px 2px rgba(0,0,0,0.25);
    border-radius: 10px;

    & p{
        text-align: left;
    }

    & img {
        object-fit: cover;
    }
}

.boton-card-museo {
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    padding: 15px 0px;
    margin:0 !important;
}

.botones-museo {
    width: 100%;
    display: flex;
    justify-content: center;
    gap:2rem;

}

/* - Selector de paginas - */
.paginas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    & p {
        margin: 0;
        font-size: 2.5rem;
    }

    & img {
        scale: 1.2;
    }

    & .pagina-actual {
        color: var(--verde-principal);
    }
    
}

/* - Selector de paginas - */
/* -- Lista de museos -- */

/* -- Museo -- */
.section-museo {
    display: flex;
    flex-direction: row;
    gap: 25px;
    max-width: 1150px;
    margin: 0 auto;
}

.main-museo {
    max-width: 700px;
    align-items: normal;
    gap: 2rem;

    & h3 {
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
        text-align: left;
        color: var(--negro);
    }
}

.desc-museum {
    text-align: justify;
}

.exposiciones {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0;
}

.exposicion {
    display: flex;
    flex-direction: column;

    & img {
        width: 216px;
        aspect-ratio: 36/23;
        border-radius: 10px;
        filter: brightness(.7);
        object-fit: cover;
    }

    & p {
        font-weight: 500;
        margin:.5rem 0 0 0;
    }
}

.vl {
    border-left: 1px solid black;
}

.fecha-verde {
    color:#00B532;
}

.contenedor-botones-museo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & a {
        margin: 0;
    }
}

.boton-comp-entrada {
    width: 28rem;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.slider-imagen-museo {
    position: relative;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.imagen-museo {
    width: 100%;
    height: 380px !important;
    object-fit: cover;
    object-position: top;
    z-index: 0;
}

.boton-slide {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
}

.boton-slide.izquierda {
    left: 0%; /* Ajustar según sea necesario */
}

.boton-slide.derecha {
    right: 0%;
}
/* -- Museo -- */

/* -- Usuario -- */
.formulario-usuario input {
    padding-left: 1rem;
    width: 30rem;
    height: 5rem;
    border: 1px solid var(--gris-desplegable);
    border-radius: .6rem;
    color: var(--negro)
}

.section-usuario {
    align-items: center;
}

input::placeholder {
    color: var(--gris-desplegable);
}

input[type="radio"] {
    width: 2rem;
    height: 2rem;
}

.nombre-user {
    text-align: center;
}

.calendario {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    box-shadow: .5rem .5rem .8rem var(--sombra);
}

.formulario-usuario {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
    justify-content: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.group-radio-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.columnas-formulario {
    display: flex;
    flex-direction: row;
}

.formulario-acomp {
    width: 50%;
    display: grid;
    gap: 3rem;

    & select {
        background-color: var(--gris-desplegable);
        border: none;
        border-radius: 10px;
        font-size: 2rem;
        padding: 1.2rem;
        width: 100%;
    }
}
/* -- Usuario -- */

/* -- Ruta -- */
.section-ruta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1150px;
    margin-left: 3rem;
}

.cruz-ruta {
    margin-left: 8rem;
}

.left-museo-ruta {
    display: flex;
    flex-direction: row;
    position: absolute;
    transform: translateX(-99%);
}

.contenedor-ruta-general {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.circ {
    height: 25px;
    width: 25px;
    background-color: var(--negro);
    border-radius: 50%;
    display: inline-block;
    z-index: 1; /* Para que esté delante de la línea */
    margin-right: 4rem;
}

.parada-ruta {
    display: flex;
    flex-direction: row;
    align-items: center;

    & p{
        margin: 0 1.5rem 0 0;
    }

    & h5 {
        font-size: 3.5rem;
        font-weight: 700;
    }

    & .horas {
        font-size: 1.4rem;
    }
    
}

.formulario-ruta {
    display: flex;
    gap: 2rem;

    & select {
        background-color: var(--gris-claro);
        border: none;
        border-radius: 0.3rem;
        font-family: "Sora";
        font-size: 1.6rem;
        padding: .3rem 0 .3rem .7rem;
        width: 8rem;
    }

    & label {
        font-weight: 700;
    }

}

.descanso {
    font-weight: 1.2rem;
    color: var(--gris);
}

/* ------------- Main ----------------- */

/* ------------- footer ---------------- */
.pie-pagina {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 45%;
}

.contenido-footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-footer {
    display: flex;
    gap: 2rem;
    text-align: center;

    & p {
        margin: 0;
    }
}

/* Estilos para alinear a la izquierda */
.back-arrow {
    display: inline-block;
    text-align: left;

    /* Estilos para el enlace */
    & a {
        font-size: 3rem; /* Tamaño de la fuente */
        text-decoration: none; /* Quita el subrayado */
        color: black; /* Color del texto */
    }
}

  /* Media Queries */
@media (max-width: 768px) {

    .menu_icon {
        display: block;
    }
    
    .nav-links-header {
        position:absolute;
        top:0%;
        left: 0%;
        width: 100%;
        padding: 2rem 0;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        opacity: 0;
        z-index: 0;
        background-color: #fff;
    }

    .pie-pagina {
        width: 90%;
    }

    .texto-footer {
        gap: 1rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    .header-image{
        width: 100%;
        aspect-ratio: 4/3;
    }

    .imagen-overlay{
        height:100%;
    }

    footer {
        div {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
        }
    }

}